asgiref==3.11.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==6.0.1
django-cors-headers==4.9.0
django-environ==0.12.0
django-filter==25.2
django-rest-knox==5.0.2
djangorestframework==3.16.1
geomaps_sdk @ git+https://github.com/Shetty073/geomaps-sdk.git@b7cd363f118fdb66d72b01b28ede9e7ef0ce1f49
idna==3.11
Markdown==3.10
mysqlclient==2.2.7
packaging==25.0
pillow==12.1.0
pycparser==2.23
requests==2.32.5
shortuuid==1.0.13
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
waitress==3.0.2
whitenoise==6.11.0
